body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    min-height: 70px;
    background-color: rgb(38, 41, 41);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    
    
    
}
header h2:hover{
    color: darkviolet;
}

a{
    color: white;
    text-decoration: none;
}
.logo{
    display: flex;
    align-items: center;
    
}
.logo img{
    height: 50px;
    
}



nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: darkviolet;
}

@media (max-width: 450px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}